{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
        <title>Authentification Smart & Co</title>
    </head>

    <body>
        {% block content %}
            <div class="wrapper">
                <div class="form-headerPSW">
                    <div class="titlesPSW">
                        <h2 class="title-PSW">Mot de passe oublié</h2>
                    </div>
                </div>
                <form method="post" class="login-form">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="email" name="email" required class="input-field">
                        <label class="label">Adresse email</label>
                        <i class="fas fa-envelope icon"></i>
                    </div>
                    <button type="submit" class="btn-submit">Envoyer le lien</button>
                </form>
            </div>
        {% endblock %}
    </body>

</html>